# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Database and config
*.db
*.sqlite3
.env
.env.production
instance/
realestate_db.sql

# Migrations (optional)
migrations/

# Git and docs
.git/
.gitignore
README.md

set_admin.py
confirm_images.py
secret_key.py
render.yml