# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/

# Environment variables
.env
.env.production

# SQLite and database dumps
*.db
*.sqlite3
realestate_db.sql

# Logs and temp files
*.log
*.tmp
r2.log

# IDE/editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Git metadata 
.git/


Dockerfile
.dockerignore
render.yml
secret_key.py

